@use './vars' as *;
@use './mixins' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family:'cascadia-code',Monospace;
  padding-top: 70px;
  anchor-name: --body;
  input, button {
    font-family: Monospace;
  }
  form, .answer__section,.list {
    padding: 20px var(--sp);
  }
}

main {
  min-height: 70dvh;
  padding-top: 50px;
  @include df(normal, normal, column);
  section {
    width: 100%;
    @include df(center, center);
    &>.container {
      width: 100%;
      max-width: 1200px;
    }
  }
}

