@use '../util/' as *;

.footer {
  margin-top: 50px;
  padding: 20px var(--sp);
  border-top: 1px solid var(--medium);
  background: var(--cream);
  @include df(center, center);
  &__content {
    width: 100%;
    @include df(center, center, column, 10px);
    p {
      @include df(center, center, column, 5px);
      a {
        @include btn;
        & {
          background: #fff;
        }
      }
    }
  }
}
