@use '../util/' as *;


header {
  padding: 20px var(--sp);
  background: var(--cream);
  border-bottom: 1px solid var(--medium);
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  @include df(normal, normal);
  .wrapper {
    width: 100%;
    @include df(space-between, center, row, 10px);
    @media (min-width: $desktop) {
      max-width: $desktop;
      margin: 0 auto;
    }
  }
  .logo {
    @include df(normal, start, column);
  }
  #ch {
    display: none;
  }
  .overlay {
    position: fixed;
    z-index: 6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all .3s;
    transform: translateY(100%);
    background: rgba(#000,.3);
  }
  .hamburger {
    transition: all .5s;
    @include df(normal, normal, column, 4px);
    span {
      width: 25px;
      height: 4px;
      background: #121212;
    }
  }
  nav {
    padding: 20px var(--sp);
    position: fixed;
    z-index: 7;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    transition: all .5s;
    background: var(--text);
    color: var(--text);
    @include df(normal, flex-end, column, 20px);
    .close {
      width: 30px;
      height: 30px;
      position: relative;
      transition: all .3s;
      @include df(center, center);
      &:hover {
        background: rgba(#ccc, .3);
      }
      span {
        width: 25px;
        height: 3px;
        background: var(--cream);
        position: absolute;
        transform: rotate(45deg);
        &:nth-of-type(2) {
          transform: rotate(-45deg);
        }
      }
    }
    ul {
      align-self: start;
      @include df(normal, start, column, 20px);
      li {
        @include df(normal, start, column, 20px);
        a {
          @include btn();
        }
      }
    }
  }
  #ch:checked {
    ~ nav {
      transform: translateY(0);
    }
    ~ .hamburger {
      opacity: 0;
    }
    ~ .overlay{
      transform: translateY(0);
      opacity: 1;
    }
  }
  @media (min-width: $big-tab) {
    .overlay,.hamburger {
      display: none;
    }
    nav {
      padding: 0;
      position: static;
      transform: translateY(0);
      transition: all .5s;
      background: transparent;
      color: var(--text);
      @include df(right, center, row, 20px);
      .close {
        display: none;
      }
      ul {
        @include df(right, center, row, 10px);
        li {
          &:not(:last-of-type) {
            border-right: 2px solid var(--text);
            padding-right: 10px;
          }
          a {
            font-size: 14px;
            padding: 0;
            border: none;
            background: transparent;
            &:hover {
              color: var(--tl);
            }
          }
        }
      }
    }
  }
}
