@use '../util/' as *;

.list {
  margin-top: 20px;
  .table {
    border-collapse: collapse;
    width: 100%;
    td,th {
      text-align: left;
      padding: 10px;
      border: 1px solid;
    }
    thead {
      background: var(--cream);
      th {
        text-transform: uppercase;
        font-weight: 700;
      }

    }
    tbody {
      tr {
        &:nth-of-type(2n) {
          background: var(--medium);
        }
        td:first-of-type {
          font-weight: bold;
        }
        td:nth-of-type(4) {
          font-weight: bold;
        }
        td:last-of-type {
          font-weight: bold;
          transition: all .3s;
          cursor: pointer;
          &:hover {
            background: var(--cream);
          }
        }
      }
    }
    tfoot {
      font-weight: 700;
      font-size: 18px;
    }
    &.empty {
      display: none;
    }
  }
}