@charset "UTF-8";
@font-face {
  font-family: "cascadia-code";
  src: url("../../assets/fonts/cascadia-code.ttf");
}
:root {
  --sp: clamp(20px, 5dvw, 10%);
  --text: #000;
  --bg: #fff;
  --cream: beige;
  --dark-cream: #121212;
  --medium: #aaa;
  --tl: teal;
  --error: crimson;
  --correct: goldenrod;
  --active: blue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "cascadia-code", Monospace;
  padding-top: 70px;
}
body input, body button {
  font-family: Monospace;
}
body form, body .answer__section, body .list {
  padding: 20px var(--sp);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 0;
}
main form, main .answer__section, main .list {
  width: 100%;
  max-width: 1100px;
}
@media (min-width: 1100px) {
  main form, main .answer__section, main .list {
    padding-right: 0;
    padding-left: 0;
  }
}

header {
  padding: 20px var(--sp);
  background: var(--cream);
  border-bottom: 1px solid var(--medium);
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-flow: row;
  gap: 0;
}
header .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
@media (min-width: 1100px) {
  header .wrapper {
    max-width: 1100px;
    margin: 0 auto;
  }
}
header .logo {
  display: flex;
  justify-content: normal;
  align-items: start;
  flex-flow: column;
  gap: 0;
}
header #ch {
  display: none;
}
header .overlay {
  position: fixed;
  z-index: 6;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.3s;
  transform: translateY(100%);
  background: rgba(0, 0, 0, 0.3);
}
header .hamburger {
  transition: all 0.5s;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-flow: column;
  gap: 4px;
}
header .hamburger span {
  width: 25px;
  height: 4px;
  background: #121212;
}
header nav {
  padding: 20px var(--sp);
  position: fixed;
  z-index: 7;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  transition: all 0.5s;
  background: var(--text);
  color: var(--text);
  display: flex;
  justify-content: normal;
  align-items: flex-end;
  flex-flow: column;
  gap: 20px;
}
header nav .close {
  width: 30px;
  height: 30px;
  position: relative;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 0;
}
header nav .close:hover {
  background: rgba(204, 204, 204, 0.3);
}
header nav .close span {
  width: 25px;
  height: 3px;
  background: var(--cream);
  position: absolute;
  transform: rotate(45deg);
}
header nav .close span:nth-of-type(2) {
  transform: rotate(-45deg);
}
header nav ul {
  align-self: start;
  display: flex;
  justify-content: normal;
  align-items: start;
  flex-flow: column;
  gap: 20px;
}
header nav ul li {
  display: flex;
  justify-content: normal;
  align-items: start;
  flex-flow: column;
  gap: 20px;
}
header nav ul li a {
  cursor: pointer;
  background: var(--cream);
  color: var(--text);
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  transition: all 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
header nav ul li a:hover {
  background: var(--text);
  border-color: var(--text);
  color: #fff;
}
header #ch:checked ~ nav {
  transform: translateY(0);
}
header #ch:checked ~ .hamburger {
  opacity: 0;
}
header #ch:checked ~ .overlay {
  transform: translateY(0);
  opacity: 1;
}
@media (min-width: 900px) {
  header .overlay, header .hamburger {
    display: none;
  }
  header nav {
    padding: 0;
    position: static;
    transform: translateY(0);
    transition: all 0.5s;
    background: transparent;
    color: var(--text);
    display: flex;
    justify-content: right;
    align-items: center;
    flex-flow: row;
    gap: 20px;
  }
  header nav .close {
    display: none;
  }
  header nav ul {
    display: flex;
    justify-content: right;
    align-items: center;
    flex-flow: row;
    gap: 10px;
  }
  header nav ul li:not(:last-of-type) {
    border-right: 2px solid var(--text);
    padding-right: 10px;
  }
  header nav ul li a {
    font-size: 14px;
    padding: 0;
    border: none;
    background: transparent;
  }
  header nav ul li a:hover {
    color: var(--tl);
  }
}

form {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-flow: column;
  gap: 0;
}
@media (min-width: 500px) {
  form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 20px;
  }
}
@media (min-width: 500px) and (min-width: 1100px) {
  form {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

fieldset {
  border: none;
  position: relative;
  padding: 0;
  margin: 25px 0 10px 0;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-flow: row;
  gap: 0;
}
fieldset legend {
  position: absolute;
  padding: 0 10px;
  left: 15px;
  top: 0;
  transform: translateY(-50%);
  background: #fff;
  font-size: 14px;
}
fieldset:focus-within legend {
  color: green;
}
fieldset input {
  outline: none;
  display: flex;
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 20px 10px 20px;
  width: 100%;
  border: 1px solid;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-flow: row;
  gap: 0;
}
fieldset input:focus {
  border-color: green;
}
fieldset::after {
  content: "mm";
  font-weight: 700;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  height: inherit;
  width: 50px;
  background: var(--cream);
  border: 1px solid;
  border-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 0;
}
fieldset:last-of-type::after {
  content: "₦";
}
fieldset:focus-within::after {
  color: green;
  border-color: green;
  background: rgba(0, 128, 0, 0.1);
}

.error {
  font-size: 12px;
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-flow: row;
  gap: 5px;
}
.error::before {
  content: "!";
  border: 1px solid;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 0;
}
.error__width, .error__height, .error__qty {
  opacity: 0;
}

fieldset.wrong input {
  border-color: crimson;
}
fieldset.wrong input:focus {
  border-color: crimson;
}
fieldset.wrong legend {
  color: crimson;
}
fieldset.wrong::after {
  color: crimson;
  border-color: crimson;
  background: rgba(220, 20, 60, 0.1);
}
fieldset.wrong + .error {
  opacity: 1;
  color: crimson;
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-flow: row;
  gap: 5px;
}

/* -----ANSWER SECTION----- */
.answer__section {
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-flow: column;
  gap: 10px;
}
.answer__section .answer {
  font-size: 2rem;
  width: 100%;
}
.answer__section__btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}
.answer__section__btns button {
  cursor: pointer;
  background: var(--cream);
  color: var(--text);
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  transition: all 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
.answer__section__btns button:hover {
  background: var(--text);
  border-color: var(--text);
  color: #fff;
}

.add {
  cursor: pointer;
  background: var(--cream);
  color: var(--text);
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  transition: all 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
.add:hover {
  background: var(--text);
  border-color: var(--text);
  color: #fff;
}
.add span:first-of-type {
  border: 1px solid;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 0;
}

.list {
  margin-top: 20px;
}
.list .table {
  border-collapse: collapse;
  width: 100%;
}
.list .table td, .list .table th {
  text-align: left;
  padding: 10px;
  border: 1px solid;
}
.list .table thead {
  background: var(--cream);
}
.list .table thead th {
  text-transform: uppercase;
  font-weight: 700;
}
.list .table tbody tr:nth-of-type(2n) {
  background: var(--medium);
}
.list .table tbody tr td:first-of-type {
  font-weight: bold;
}
.list .table tbody tr td:nth-of-type(4) {
  font-weight: bold;
}
.list .table tbody tr td:last-of-type {
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
}
.list .table tbody tr td:last-of-type:hover {
  background: var(--cream);
}
.list .table tfoot {
  font-weight: 700;
  font-size: 18px;
}
.list .table.empty {
  display: none;
}

.modal {
  padding: 20px;
  position: fixed;
  z-index: 12;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
}
.modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 0;
}
.modal__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(18, 18, 18, 0.5);
}
.modal__content {
  position: relative;
  background: #fff;
  border: 2px solid;
  padding: 20px;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-flow: column;
  gap: 10px;
}
.modal__content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
.modal__content__header__text {
  font-weight: 700;
  font-size: 110%;
}
.modal__content__header__checkbox {
  cursor: pointer;
  background: var(--cream);
  color: var(--text);
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  transition: all 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
.modal__content__header__checkbox:hover {
  background: var(--text);
  border-color: var(--text);
  color: #fff;
}
.modal__content__header__checkbox {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 0;
}
.modal__content__answer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
.modal__content__answer > * {
  flex: 1;
  cursor: pointer;
  background: var(--cream);
  color: var(--text);
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  transition: all 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
.modal__content__answer > *:hover {
  background: var(--text);
  border-color: var(--text);
  color: #fff;
}

.footer {
  margin-top: 50px;
  padding: 20px var(--sp);
  border-top: 1px solid var(--medium);
  background: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 0;
}
.footer__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 10px;
}
.footer__content p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 5px;
}
.footer__content p a {
  cursor: pointer;
  background: var(--cream);
  color: var(--text);
  border: 1px solid;
  padding: 5px 20px;
  text-decoration: none;
  font: inherit;
  font-size: 15px;
  transition: all 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  gap: 10px;
}
.footer__content p a:hover {
  background: var(--text);
  border-color: var(--text);
  color: #fff;
}
.footer__content p a {
  background: #fff;
}/*# sourceMappingURL=main.css.map */